.heading
{
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 18px;
    color: black;
}

body{
    background-size: cover;
}


#name
{
    font-size: 22px;
    margin: 15px;
}


canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin: 100px;
}
